{% extends "base.html" %}
{% block title %} &ndash; {{ _('文章列表') }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1>{{ _('文章列表') }}</h1>
  </header>
  <div>
    <dl>
      {# foreach according categories. #}
      {% for (category, articles) in categories %}
        {# display category name. #}
        <dt><h2>{{ category }}</h2></dt>
        <dl>
          <ul>
          {# foreach according articles (ordered by date). #}
          {% for article in articles|sort(attribute="date") %}
            {# format date object to ISO 8601 date. #}
            {% set article_date = article.date.strftime('%Y-%m-%d') %}
            {# display article url and title. #}
            <li>{{ article_date  }} &nbsp; <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
          </ul>
        </dl>
      {% endfor %}
    </dl>
  </div>
</article>
{% endblock %}
