{% extends "base.html" %}
{% block title %} &ndash; {{ _('文章列表') }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1>{{ _('文章列表') }}</h1>
  </header>
  <div>
    <dl>
      {# 根據 categories 尋訪 #}
      {% for (category, articles) in categories %}
        {# 顯示每一個 category 名稱 #}
        <dt><h2>{{ category }}</h2></dt>
        <dl>
          <ul>
          {# 尋訪根據 date 排序好的 articles #}
          {% for article in articles|sort(attribute="date") %}
            {# 格式化日期為 ISO 8601 date #}
            {% set article_date = article.date.strftime('%Y-%m-%d') %}
            {# 顯示文章連結與標題 #}
            <li>{{ article_date  }} &nbsp; <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
          </ul>
        </dl>
      {% endfor %}
    </dl>
  </div>
</article>
{% endblock %}
