<section id=sidebar_tags>
  <dl>
    {# 紀錄計算過文章數量的標籤 metadata #}
    {% set tags_metadata = [] %}
    {% for tag, articles in tags %}
      {% set _ = tags_metadata.append(dict({
        "tag": tag,
        "articles": articles,
        "count": articles|count
      })) %}
    {% endfor %}
    {# 限制只呈現 12 筆 #}
    {% set limit = 12 %}
    {# 根據最多文章數量的標籤排序顯示 #}
    {% for tag_metadata in (tags_metadata|sort(reverse=true, attribute="count"))[:limit] %}
      <dt><a href='{{ SITEURL }}/{{ tag_metadata["tag"].url }}'>{{ tag_metadata["tag"] }} ({{ tag_metadata["count"] }})</a></dt>
    {% endfor %}
    <dt><a id="tags_mores" href='{{ SITEURL }}/{{ TAGS_SAVE_AS }}'>...more</a></dt>
  </dl>
</section>

